language: node_js
node_js:
  - 0.12
addons:
  code_climate:
    repo_token:
      secure: HhXXVDgNb8JFB5AOSC4W5QtNlJkqmksUgVtOr4KgbULjAWhlsJuRdYs4YOk4cjdH6E7oXeJPrDpSpqtN5ItMf8eQsLwtzVUSoVBBCz1/a4fUtEAXL0lu2vlRp96vGqIiifd6fdAyQV+B99BiWVyx8yEslABjlQUPEEE9pFqpdoc=
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g grunt-cli
  - npm install -g codeclimate-test-reporter
after_script:
  - codeclimate-test-reporter < test/coverage/**/lcov.info
